.bg{
    background-color: #0b7676 !important;
  }
  .logName{
    color: white;
  }
  .e1{
    color: #0b7676 !important;
    }
  .fa-user-circle.fa-slideshare.fa-whatsapp.fa-snowflake-o{
    color: white !important;
  }
  .navname{
    font-size: 37px!important;
    color: darkslategrey;
      vertical-align: text-top;
  }