<html>
<body>
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="rounded-circle"src="https://images.idgesg.net/images/article/2017/05/puzzle_solution_key_unlock_success_thinkstock_507400394-100724501-large.jpg" width="117%">
        </div>
        <div class="col-md-6 top">
          <form class="form-signin">
            <input type="text" id="inputId" class="form-control" [(ngModel)]="userId" name="userId"
              placeholder="Username" required autofocus>
            <br>
            <button class="btn btn-lg btn-danger btn-block" (click)="login()" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>